/*seluruh margin 0, bg warna hitam, font family: Trebuchet MS, warna font: putih*/
* {
    margin: 0;
    background-color: rgb(0, 0, 0) ;
    font-family: 'Trebuchet MS';
    color: white;
}

/*lebar gambar mengikuti tinggi gambar, margin agar gambar tidak pojok kiri*/
.contact img {
    width: auto;
    height: 5rem;
    margin-left: 30rem;
    margin-top: 10rem;
}

/*agar tulisan tidak mepet kiri*/
.contact h2 {
    margin-left: 30rem;
}

/*clear float, seluruh paddingL: 10px, seluruh margin margin: 3rem*/
.nav {
    clear: both;
    padding: 10px;
    margin: 3rem;
}

/*list style: none agar tidak ada dot*/
.nav ul {
    list-style: none;
    width: 10px;
}

/*posisi bisa diubah seenaknya, lebar mengikuti tinggi img*/
.nav li img {
    position: relative;
    width: auto;
    height: 3rem;
    margin: 2rem;
    bottom: 28rem;
    right: 5rem;
}

/*jika hover, maka akan mengurangi opacity menjadi 0.6*/
.nav li:hover {
    opacity: 0.6;
}

/*membuat box*/
.nav li a {
    display: block;
}

/*posisi bisa diubah seenaknya, lebar mengikuti tinggi img*/
.nav li img {
    position: relative;
    width: auto;
    height: 3rem;
    margin: 2rem;
    bottom: 28rem;
    right: 5rem;
}